.pagination {
	margin: auto;
	width: 200px;
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	a{
		text-decoration: none;
	}

	&_page {
		width: 200px;
		margin: 0 auto;
		display: flex;
		button {
			// height: 70%;
			// justify-content: center;
			// text-align: center;
			// width: 70%;
			// margin-left: 20px;
			// border-bottom-right-radius: 22%;
			box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 2px solid #3498db;
	border-radius: 0.6em;
	background-color: #3498db;
	color: #f4f7f8;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	margin-left: 10px;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
		}
		button:hover {
			background-color: rgb(237, 240, 243);
	box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
	color: #3498db;
		}
	}
}
