.person{
	margin: auto;
	width: 1000px;
	display: grid;
	grid-template-columns: repeat(4,2fr);	
	&_info{
		h3{
			margin-left: 100px;
		}
	}
	
	&_films{
		h3{
			margin-left: 100px;
		}
	}
	&_photo {
		h3 {
		}
		img {
			width: 200px;
		}
	}
}
