.search_input {
	margin: auto;
	width: 450px;
	height:60px;
	border-radius: 5%;
	background-color: #3498db;
	input {
	border: 1px solid blue;

		position: absolute;
		margin: auto;
		margin-top: 11px;
		margin-left: 20px;
		width: 350px;
		height: 30px;
	border-radius: 5%;

	}
	:focus {
		border-color: rgb(19, 5, 73);
}
}