.cards {
	margin: auto;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5,1fr);
}
.card_item {
	margin: auto;
	margin-top: 20px;
	border: 1px solid black;
	width: 200px;
	background-color: #808080;
	li {
		list-style: none;
		justify-content: center;
		align-items:flex-end;
	}
	img {
		width: 200px;
		height: 200px;
	}
	img:hover {
	
	}
}